<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!--  Integración del urdf en gazebo para controlar las articulaciones del brazo
      se declaran los parametros que tendrán estas artucilaciones y los limites 
      de posición-->
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="joint_1">
      <command_interface name="position">
        <param name="min">-6.2832</param>
        <param name="max">6.2832</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint_2">
      <command_interface name="position">
        <param name="min">-6.2832</param>
        <param name="max">6.2832</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint_3">
      <command_interface name="position">
        <param name="min">-2.7925</param>
        <param name="max">2.7925</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
  <!--  Se llama y configura el plugin que ayudará con el control de las articulaciones,
        el cual usa el topico /controller_manager para esto-->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <robot_sim_type>gazebo_ros2_control/GazeboSystem</robot_sim_type>
      <parameters>/home/ubb/Downloads/ros2_ws_final/ros2_ws/src/3dof/config/joint_controller.yaml</parameters>
    </plugin>
  </gazebo>

</robot>